<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/custom_base::commonHead"></th:block>
    <th:block th:replace="fragments/custom_link::home-css"></th:block>
    <th:block th:replace="fragments/custom_link::home-js"></th:block>
    <style>

    </style>
</head>
<body>
<th:block th:replace="fragments/custom_base::commonNav"></th:block>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md-offset2 layui-col-sm-offset2 layui-col-md8 layui-col-sm8">
            <div class="layui-col-md3 layui-col-sm3">
                <th:block th:replace="fragments/custom_base::userCenterMenu"></th:block>
            </div>
            <div class="layui-col-md9 layui-col-sm9">
                <div class="user-center-content">
                    <div class="user-center-content-title">[[${title}]]</div>
                    <div class="user-center-content-body">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>单号</th>
                                <th>名称</th>
                                <th>时长</th>
                                <th>金额</th>
                                <th>方式</th>
                                <th>支付日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item:${list}">
                                <td th:text="${item.id}"></td>
                                <td th:text="${item.incomeName}"></td>
                                <td th:text="${item.incomeDuration==-1?'永久':item.incomeDuration+'天'}"></td>
                                <td th:text="${'￥'+item.amount}"></td>
                                <td th:text="${item.payTypeText}"></td>
                                <td th:text="${item.payAt}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/custom_base :: commonFooter"></th:block>
</body>
<th:block th:replace="fragments/custom_base :: commonScript"></th:block>
<script type="application/javascript">

</script>
</html>